
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  background-color: #EEEEEE;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-name-home{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.user-name-home:hover{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.banner-jumbotron{
  height: 600px;
  background-image: url("/images/kwiaty.jpg");
  background-size: cover;
}

.container-custom{
  width: 700px;
  display: flex;
  margin-left: 5px;
  justify-content: flex-start;
  color: #FFF;
  padding: 50px;
  font-family: 'Yatra One', cursive;
}


@media (max-width: 776px) {
  .container-custom{
    display: flex;
    width: 100%;
  }

  .jumbotron-heading-custom{
    font-size:20px;
  }

  .container-custom-main{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    color: red;
  }

}


.container-custom-main{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.jumbotron-heading-custom{
  font-size: 70px;
}


