
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.user-name-home{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.user-name-home:hover{
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.banner-jumbotron{
  height: 600px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

.container-custom{
  color: #000000;
  padding: 50px;
  font-family: 'Yatra One', cursive;
}

.text-muted-custom{
  color: #000000;
  font-size: 30px;
}

.jumbotron-heading-custom{
  font-size: 70px;
}

